html
    head
        title Rock Paper Scissors
        link(rel="stylesheet", href="/css/styles.css")
        script(type="text/javascript" src="index.js")
    body
      main
        div(class="container")
            h1 Rock Paper Scissors
            img(src="rock.png" onClick="Votrechoix(1)" alt="PIERRE")
            img(src="paper.png" onClick="Votrechoix(2)" alt="PAPIER")
            img(src="scissors.png" onClick="Votrechoix(3)" alt="CISEAUX")





          
